pkgs/Wadl/EligibilityVerify.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="EligibilityVerify" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="EligibilityVerify" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <string name="ManualTriggerInput_text_2_def" />
      <string name="ManualTriggerInput_text_3_def" />
      <string name="ManualTriggerInput_text_4_def" />
      <string name="ManualTriggerInput_text_5_def" />
      <string name="ManualTriggerInput_text_6_def" />
      <string name="ManualTriggerInput_text_7_def" />
      <string name="ManualTriggerInput_text_8_def" />
      <string name="ManualTriggerInput_text_9_def" />
      <string name="ManualTriggerInput_text_10_def" />
      <string name="ManualTriggerInput_text_11_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
        <property name="text_2" type="string" />
        <property name="text_3" type="string" />
        <property name="text_4" type="string" />
        <property name="text_5" type="string" />
        <property name="text_6" type="string" />
        <property name="text_7" type="string" />
        <property name="text_8" type="string" />
        <property name="text_9" type="string" />
        <property name="text_10" type="string" />
        <property name="text_11" type="string" />
      </object>
      <string name="ResponseActionOutput_discoveredplancopayindividual_def" />
      <string name="ResponseActionOutput_discoveredplandeductiblefamily_def" />
      <string name="ResponseActionOutput_discoveredplandeductibleindividual_def" />
      <string name="ResponseActionOutput_discoveredplancopayfamily_def" />
      <string name="ResponseActionOutput_discoveredplancoinsuranceindividual_def" />
      <string name="ResponseActionOutput_discoveredplancoinsurancefamily_def" />
      <string name="ResponseActionOutput_discoveredplanoutofpocketindividual_def" />
      <string name="ResponseActionOutput_discoveredplanoutofpocketfamily_def" />
      <string name="ResponseActionOutput_eligibleflag_def" />
      <object name="ResponseActionOutput">
        <property name="discoveredplancopayindividual" type="string" />
        <property name="discoveredplandeductiblefamily" type="string" />
        <property name="discoveredplandeductibleindividual" type="string" />
        <property name="discoveredplancopayfamily" type="string" />
        <property name="discoveredplancoinsuranceindividual" type="string" />
        <property name="discoveredplancoinsurancefamily" type="string" />
        <property name="discoveredplanoutofpocketindividual" type="string" />
        <property name="discoveredplanoutofpocketfamily" type="string" />
        <property name="eligibleflag" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="npiNumber" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="practiceName" />
            </param>
            <param style="plain" name="text_2" path="/text_2" type="xs:string" required="true">
              <doc title="typeOfServiceCode" />
            </param>
            <param style="plain" name="text_3" path="/text_3" type="xs:string" required="true">
              <doc title="payerEligibilityID" />
            </param>
            <param style="plain" name="text_4" path="/text_4" type="xs:string" required="true">
              <doc title="patientLastName" />
            </param>
            <param style="plain" name="text_5" path="/text_5" type="xs:string" required="true">
              <doc title="patientFirstName" />
            </param>
            <param style="plain" name="text_6" path="/text_6" type="xs:string" required="true">
              <doc title="patientDateOfBirth" />
            </param>
            <param style="plain" name="text_7" path="/text_7" type="xs:string" required="true">
              <doc title="patientDateofService" />
            </param>
            <param style="plain" name="text_8" path="/text_8" type="xs:string" required="true">
              <doc title="payerID" />
            </param>
            <param style="plain" name="text_9" path="/text_9" type="xs:string" required="true">
              <doc title="patientPolicyNumber" />
            </param>
            <param style="plain" name="text_10" path="/text_10" type="xs:string" required="true">
              <doc title="insuredRelationship" />
            </param>
            <param style="plain" name="text_11" path="/text_11" type="xs:string" required="true">
              <doc title="authorization" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>